body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(0, 0, 255);
    color: #fff;
    text-align: center;
    padding: 20px;  
}
h1 {font-size: 16px;
    margin: 0;
}

h3 {font-size: 14px;
    margin-top: 10px;  
}
.imagem {
    text-align: center;
    margin: 20px 0;
}

img {
    width: 200px;
    height: auto;
}

.descrição {
    padding: 20px;]
}

p {
    font-size: 14px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
}

li {
    margin-bottom: 10px;
}

.formulario {
    background-color: #d3d3d3;
    padding: 20px;
    text-align: center;

h3 {
    font: size 14px;
    margin-bottom: 10px;
}

input{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px 0;
    border: 1px solid #ccc;
}

footer{
    background-color: ;
    color: ;
    
}
